* {
    font-family: Roboto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 40px;
    margin-right: 60px;
}
.logo {
    margin-left: 50px;
}
