* {
    font-family: Roboto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* LAYOUTS */
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    flex: 0 0 auto;
    width: 100%;
}

/* Optional: stretch items horizontally */
.container>* {
    
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}
.nav-links {
    display: flex;
    gap: 30px;
}


/* ALL STYLES */
.footer, .hero, .navbar {
    background: #1F2937;
}

.hero-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-sub, .nav-links li {
    font-size: 18px;
    color: #E5E7EB;
}
.nav-links {
    list-style: none;
}
.logo {
    color: #F9FAF8;
    font-size: 24px;
}

.info {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.quote {
    background: #E5E7EB;
}

.quotetxt {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
}